body {
  margin: 0;
  font-family: "Outfit", sans-serif;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

span {
  color: #d1462f !important;
}

ul > li > a {
  font-size: 19px;
  color: white;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 65px;
  transition: background-color 0.5s ease;
  z-index: 998;
}

.nav-scroll {
  background-color: #d1462f;
}

.nav-menu-items {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1.5rem;
}

nav > ul:nth-child(3) > li > a {
  color: #d1462f;
  font-size: 20px;
}

#nav-name {
  font-size: 30px;
  font-weight: bolder;
}

#resume-button-1,
#resume-button-2 {
  background-color: #d1462f;
  border: none;
  color: white;
  padding: 1rem;
  border-radius: 50px;
}

#home {
  position: relative;
  height: 100vh;
}

#home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: brightness(0.3);
  z-index: -1;
}

#video-background {
  position: absolute;
  top: -2.5%;
  left: -15%;
  width: 115%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

#home-about {
  position: relative;
  left: 25%;
  top: 30%;
  width: 60%;
}

#home-about .intro {
  font-size: 1rem;
}

.intro + a {
  font-size: larger;
  margin-top: 5%;
  font-family: "Caveat", cursive;
}

#about-container {
  display: flex;
  width: 80%;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  padding: 1rem;
}

#about-container > img {
  width: 30%;
}

#about-info {
  width: 50%;
  text-align: center;
}

#user-detail-name {
  font-size: 40px;
}

#home-about > p {
  color: white;
}

#name {
  font-size: 90px;
  color: #d1462f;
}

#name + p {
  color: white;
  font-size: 24px;
}

#name + p + a {
  font-size: 1.5vw;
}

#projects {
  color: white;
  position: relative;
  padding: 1rem;
}

#projects::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(https://i.pinimg.com/236x/cd/29/c9/cd29c93ddfab585a34a7657db8dce484.jpg);
  filter: brightness(0.3);
  z-index: -1;
}

.project-card {
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  padding: 1rem;
}

.project-info {
  padding: 20px;
  width: 30vw;
}

.project-tech-stack {
  display: flex;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;
}

.project-tech-stack > p {
  /* background-color: #D1462F; */
  border: none;
  color: white;
  padding: 0.3rem;
  border: 2px solid #d1462f;
  border-radius: 50px;
  font-size: x-small;
}

.swiper {
  width: 40rem;
  height: 25rem;
  border-radius: 0.625rem;
}

.swiper-slide > img {
  width: 100%;
  object-fit: cover;
}

#projects > h1,
#skills > h1,
#contact > h1,
#about > h1,
.github > h1 {
  text-align: center;
  font-size: 70px;
  margin-bottom: 0;
}

#projects > p,
#skills > p,
#contact > p,
.github > p,
#contact-container,
#about > p {
  text-align: center;
  font-size: larger;
  font-family: "Caveat", cursive;
}

.project-source {
  display: flex;
  gap: 2rem;
  font-size: larger;
  font-weight: bolder;
  font-family: "Caveat", cursive;
}

.project-info .project-source > a {
  color: #d1462f;
}

#skills {
  padding: 2rem;
}

#container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  margin: auto;
  gap: 3rem;
}

.skills-card {
  text-align: center;
  margin: 10px;
}

.skills-card-img {
  width: 100px;
  height: 100px;
}

#container-contact {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-wrap: wrap;
}

#contact-info {
  width: 30%;
  font-size: larger;
  text-align: start;
  padding: 1rem;
}

#main-contact div {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 20px;
}

#main-contact img {
  height: 2rem;
  width: 2rem;
}

#main-contact a {
  text-decoration: none;
  color: #d1462f;
}

.github {
  color: white;
  padding: 1rem;
  background-image: url(https://i.pinimg.com/236x/cd/29/c9/cd29c93ddfab585a34a7657db8dce484.jpg);
}

#github {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  margin-top: 3rem;
}

#github img {
  width: 350px;
}
#github div {
  background-color: #ffb7aa;
}
#github div > img {
  width: 500px;
}

footer {
  background-color: rgb(61, 61, 61);
  padding: 0.6rem;
  text-align: center;
  font-size: 18px;
}

footer > span,
footer > span > a + span {
  color: white;
}

#footer-name {
  color: #d1462f;
  font-weight: 700;
}

#mobile-nav-menu {
  display: none;
}

@media (max-width: 550px) {
  #home {
    height: 80vh;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;
    width: 100%;
  }

  #mobile-nav-menu {
    background-color: #151212;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 2;
  }

  .mob-nav-menu-items {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }

  .mob-nav-menu-items a {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* color: inherit; */
    padding: 10px;
    font-size: 0.6rem;
    font-weight: 600;
    transition: background-color 0.3s;
  }

  .mob-nav-menu-items a:hover {
    background-color: #f0f0f0;
    color: inherit;
  }

  .nav-menu-items {
    display: none;
  }

  #home-about {
    left: 10%;
    width: 80%;
  }

  #home-about .intro {
    font-size: 3vw;
  }

  #name {
    font-size: 10vw;
    margin-bottom: 1vw;
  }

  #name + p {
    font-size: 4vw;
  }

  #name + p + a {
    font-size: 5vw;
  }

  #home-about > p {
    font-size: 5vw;
  }

  #contact-info {
    width: 64%;
    font-size: 1rem;
  }

  #about-container {
    width: auto;
    display: flex;
    flex-direction: column;
  }

  #about-container > img {
    width: 100%;
  }

  #about-info {
    width: 100%;
    text-align: start;
  }

  #user-detail-intro {
    font-size: 3vw;
    text-align: start;
  }

  #projects > h1,
  #skills > h1,
  #contact > h1,
  #about > h1,
  .github > h1 {
    font-size: 12vw;
  }

  #projects > p {
    font-size: 4vw;
  }

  .project-card {
    flex-wrap: wrap;
  }

  .project-info {
    width: 100%;
    padding: 10px;
  }

  #project-image-coursel {
    position: relative;
    left: 0;
    top: -20%;
  }

  .project-tech-stack {
    display: flex;
    gap: 2vw;
    align-items: center;
    flex-wrap: wrap;
  }

  .project-info > a {
    font-size: 3vw;
  }

  .project-description {
    width: 80vw;
    height: auto;
    font-size: 3vw;
  }

  .swiper {
    width: 85vw;
    height: 60vw;
    object-fit: cover;
    pointer-events: none;
  }

  #container {
    display: grid;
    grid-template-columns: auto repeat(1, 1fr);
  }

  #github-stats-card,
  #github-streak-stats {
    width: 90%;
  }
  #github div > img {
    width: 350px;
  }

  .modal-content {
    font-size: 11px;
  }
  .close-button{
    float: left;
  }

  #resumeModal{
    right: 10%;
  }

}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  height: 100%;
  overflow: auto;
  background: transparent;
}

.modal-content {
  background-color: #ff634789;
  margin: 15% auto;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #000000;
  width: max-content;
  font-weight: bold;
}

.close-button {
  color: #000000;
  float: right;
  font-size: 28px;
  font-weight: bold;
  z-index: 999;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#resumeModal {
  top: 30%;
  left: 30%;
  transform: translate(-50%, -20%);
}

#firstModal {
  top: 10%;
  left: 50%;
}

#secondModal {
  top: 60%;
  right: 20%;
}
